.services {
	margin-top: -45px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
    
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.services__item p {
	color: #777777;
	font-size: 16px;
	line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 170px;
}

#services {
    padding-bottom: 350px;
}

@media (max-width: 992px) {
    .services__item:last-child {
        float: left;
    }
    
    .services__item:nth-child(2) {
        margin-left: 0px;
    }
    #services {
        padding-bottom: 800px;
    }
    
}