.section-top {
  height: 100vh;
  min-height: 600px;
  background: #0e1419 url(../img/section-top/metodologia-abn-matematicas-simples-divertidas.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  padding: 170px 0 100px;
}

.section-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.section-top__container {
  position: relative;

}

.section-top__info {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #fcff00;
  margin: 0 0 8px;
}

.section-top__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 47px;
  font-weight: 900;
  margin: 0 0 15px;
}

.section-top__info2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #808080;
  margin: 0 0 35px;
}

@media (max-width: 992px) {
  .section-top {
    padding-top: 150px;
  }
}

@media (max-width: 576px) {
  .section-top__info {
    font-size: 18px;
  }

  .section-top__title {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  .section-top__title {
    font-size: 33px;
  }
  .section-top__info2{
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .section-top__title {
    font-size: 30px;
  }
  .section-top__info2{
    display: none;
  }
}

@media (max-width: 410px) {
  .section-top {  
    background: #0e1419 url(../img/section-top/410.jpg) no-repeat center;
    background-size: cover;
  }
}